<p>AuthSub API Call with Calendar Scope</p>

<div id="ats1">
    <a href="http://google.com/accounts/AuthSubRequest?next=http://localhost:8080/%23/authsub&scope=http://www.google.com/calendar/feeds/default/allcalendars/full&session=1&secure=0">
        AuthSub Call
    </a>

    <pre>
        http://google.com/accounts/AuthSubRequest?
        next=http://localhost:8080/#/authsub
        &scope=http://www.google.com/calendar/feeds/default/allcalendars/full
        &session=1&secure=0
    </pre>
</div>

<div id="ats2">
    
    <a href="javascript:void()" data-ng-click="authSub2Call()">Next AuthSub Call</a>
    <pre>
       //TODO: 
    </pre>
    
</div>


