/* app css stylesheet */
body {
    margin: 12px;
}

.header {
    overflow: hidden;

}
.location-info {
    float: right;
}

.menu {
    float: left;
}

.menu p{
    margin-bottom: 3px;
    margin-top: 0px;
}

.menu ul{
    margin-top: 0px;
}

.location-info span {
    font-size: small;
    font-family: monospace;
    font-weight: lighter;
    color: #f8bb00;
 }

[data-ng-view]{

}