<!DOCTYPE html>
<html data-ng-app="todoApp">

    <head>
        <title>TODO demo with OAuth</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" 
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

        <link rel="stylesheet" type="text/css" href="js/libs/datetimepicker/jquery.datetimepicker.css">

        <link rel="stylesheet" href="css/app.css">

        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>


        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-route.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-cookies.js"></script>

        <script src="js/libs/datetimepicker/jquery.datetimepicker.js"></script>

        <script type="text/javascript">

            $(function () {
                $('#update').datetimepicker();
            });

        </script>
        <script src="js/app.js"></script>
        <script src="js/controllers.js"></script>


    </head>

    <body data-ng-controller="MainCtrl">
        <div class="container">
            <nav class="navbar">
                <div class="container-fluid">
                    <div class="navbar-header pull-left">
                        <div class="navbar-text">
                            <a class="navbar-link" href="../">Go to back</a>
                        </div>
                    </div>
                    <div id="user-info" class="navbar-header pull-right">
                        <div data-ng-show="state === STATES.LOGGED" class="logged-in" id="logged-in">
                            <div class="navbar-text">
                                <a class="navbar-link" href="https://plus.google.com/me">{{profile.emails[0]}}</a>
                                <a class="navbar-link" href="" data-ng-click="doLogout()">Sign out</a>
                            </div>
                            <img class="avatar" alt="user avatar" 
                                 data-ng-src="{{profile.imgUri}}">
                        </div>
                        <div data-ng-show="state === STATES.NOTLOGGED" class="log-in" id="log-in">
                            <div class="navbar-text">
                                <a class="navbar-link" href="../#/google-oauth">Sign in</a>
                            </div>
                            <img class="avatar" alt="oauth avatar" 
                                 src="https://upload.wikimedia.org/wikipedia/commons/d/d2/Oauth_logo.svg">
                        </div>
                    </div>
                </div>
            </nav>
            <header class="page-header">
                <h1>JAX-RS Demo Application with Google OAuth 2 Authorization</h1>

                <p class="lead" id="user-logged-intro" data-ng-show="state === STATES.LOGGED">You are logged-in as a application user
                    <span class="username">{{profile.emails[0]}}</span>.
                    Use the form below to edit and add to TODO-list. 
                    The TODO-list data will be displayed for the logged-in user</p>

                <p class="lead" id="user-notlogged-intro" data-ng-show="state === STATES.NOTLOGGED">
                    You are not 
                    <a class="navbar-link" href="../#/google-oauth">logged</a>
                    into the application,a list of all TODO will be read-only.</p>

                <div class="lead" id="user-notlogged-intro" data-ng-show="state === STATES.ERROR">
                    Sorry, an error has occurred,
                    please report this developer
                    <pre> 
                        {{err|json}}
                    </pre>
                </div>

            </header>
            <div class="row" data-ng-show="state === STATES.LOGGED">
                <div class="col-md-12"> 
                    <form name="todoF" class="form-inline" role="form">
                        <fieldset>
                            <legend>Add and edit Todos 
                                <span data-ng-hide="currentTodo.todoId === null"> 
                                    , current todoId:
                                    <span class="todoId">{{currentTodo.todoId}}</span>
                                </span>
                            </legend>

                            <input type="hidden" 
                                   name="todoId" id="todoId" 
                                   data-ng-model="currentTodo.todoId">

                            <div class="form-group">
                                <label for="update" >Update:</label>
                                <input tabindex="1" 
                                       data-ng-model="currentTodo.update"
                                       type="text"
                                       name="update" id="update" 
                                       class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="content">Content</label>
                                <input tabindex="2" 
                                       data-ng-model="currentTodo.content"
                                       type="text" 
                                       size='57'
                                       name="content" 
                                       id="content"
                                       class="form-control">
                            </div>

                            <button tabindex="3" class="btn btn-primary" 
                                    name="add" id="add"
                                    data-ng-click="doPPD('PUT')"
                                    >Add</button>
                            <button tabindex="4" class="btn btn-primary"
                                    name="edit" id="edit"
                                    data-ng-click="doPPD('POST')"
                                    data-ng-disabled="currentTodo.todoId === null"
                                    >Edit</button>
                            <button tabindex="5" class="btn btn-primary"
                                    name="delete" id="delete"
                                    data-ng-click="doPPD('DELETE')"
                                    data-ng-disabled="currentTodo.todoId === null"
                                    >Delete</button>


                        </fieldset>
                    </form>
                </div>
            </div>


            <div class="row"  data-ng-show="state >= STATES.NOTLOGGED" >
                <div class="col-md-12">
                    <h3>TODO List</h3>
                    <table class="table table-hover">

                        <thead>

                            <tr>
                                <th>
                                    ID
                                </th>
                                <th>
                                    update
                                </th>
                                <th>
                                    Content
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="todo in todos track by todo.todoId"
                                data-ng-click="doEdit(todo.todoId, $event)"
                                data-ng-class="{info:currentTodo.todoId === todo.todoId}">
                                <td class="todoId">{{todo.todoId}}</td>
                                <td>{{todo.update}}</td>
                                <td>{{todo.content}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div> <!-- /container -->

    </body>
</html>
